body {
    text-align: center;
    background-color: lightblue;
}

.verde {
    height: 250px;
    border-radius: 10px;
    background-color: green;
    width: 250px;
    display: inline-block;
    padding: 10px;
    margin: 10px
}

.azul {
    height: 250px;
    border-radius: 360px;
    background-color: blue;
    width: 250px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    color: white
}

.amarelo {
    height: 250px;
    border-radius: 20px;
    background-color: yellow;
    width: 250px;
    display: inline-block;
    padding: 10px;
    margin: 10px
}

.verde2 {
    height: 200px;
    border-radius: 40px;
    background-color: green;
    width: 56%;
    display: inline-block;
    padding: 10px;
    margin: 10px
}

.verde:hover {
    background-color: white;
    color: black;
    border: 2px solid black
}

.azul:hover {
    background-color: white;
    color: black;
    border: 2px solid black
}

.amarelo:hover {
    background-color: white;
    color: black;
    border: 2px solid black
}

.verde2:hover {
    background-color: white;
    color: black;
    border: 2px solid black
}